.App {
  text-align: center;
}

.App-article {
  padding: 0% 10% 0% 10%;
  font-size:large;
}

.Article-image-wide-left{
  margin: 1%;
  width: 40%;
  float: left;
}

.Article-image-wide-right{
  margin: 1%;
  width: 40%;
  float: right;
}

.Article-image-tall{
  margin: 1%;
  width: 80%
}

.Align-justifyt{
  text-align: justify;
}

.Align-left{
  text-align: left;
}

.Align-right{
  text-align: right;
}
.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
